/*
    all.less - Aggregate all stylesheets
 */
/*
    app.less - Embedthis Application Style Sheet
 */
html,
body {
  font-size: 14px;
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  background-image: linear-gradient(45deg, #024d02 0px, #5dbd05 70%);
  background-attachment: fixed;
  min-width: 320px;
  text-rendering: optimizeLegibility;
  transition: none !important;
}
body.show-sidebar {
  margin-left: 240px;
}
.masthead {
  height: 70px;
}
.masthead .ui.inverted.menu {
  background-color: #333333;
  border-bottom: none;
  margin: 0;
}
.masthead .ui.inverted.menu .right {
  display: block;
  padding-right: 10px;
}
.masthead .ui.inverted.menu .right a.item {
  color: #ffffff;
  opacity: 0.75;
  padding: 0.8em 0.4em;
}
.masthead .ui.inverted.menu .right a.item:hover {
  background: rgba(255, 255, 255, 0.2);
}
.masthead .ui.inverted.menu .right a.item.active:after {
  position: absolute;
  background: #dd2222;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  content: "";
}
.masthead .version {
  font-size: 0.75rem;
  margin: 0 0.4rem 0 0;
  color: #ffffff;
  opacity: 0.75;
}
.masthead .ui.breadcrumb {
  margin: 6px 0 0 35px;
}
.masthead .ui.breadcrumb .section {
  padding-bottom: .5rem;
}
.masthead .ui.breadcrumb .active.section {
  color: rgba(255, 255, 255, 0.9);
  font-weight: normal;
}
.masthead .ui.breadcrumb .divider {
  color: #ffffff;
}
.masthead .ui.breadcrumb a {
  color: rgba(255, 255, 255, 0.7);
}
.masthead .ui.breadcrumb a:hover,
.masthead .ui.breadcrumb a:hover.active.section {
  color: #ffffff;
}
.sidebar {
  position: fixed;
  left: 0;
  width: 240px;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  visibility: hidden;
}
.sidebar .ui.vertical.menu {
  background: #333333;
}
.sidebar .ui.vertical.menu .logo {
  display: inline-block;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 1.6em;
  color: #ffffff;
}
.sidebar .ui.vertical.menu .menu .item {
  font-size: 1.0rem;
}
.sidebar .ui.vertical.menu .menu .header.item {
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 7px 21px 7px 14px;
  font-weight: bold;
  font-size: 1.05em;
  background-color: transparent;
}
.sidebar .ui.vertical.menu .menu .header.item:hover {
  background: rgba(255, 255, 255, 0.1);
}
.sidebar .ui.vertical.menu a.item.active {
  border-right: 18px solid #5dbd05;
}
.ui.sidebar-launch.button {
  position: relative;
  width: 40px;
  padding: 0.8em 0.6em 0.8em 1.1em;
  background-color: #566166;
  color: white;
  float: left;
}
.page {
  padding: 1rem 3.0rem;
}
.ui.page.grid {
  padding: 0 3.0rem;
}
.ui.page.grid .segment {
  padding-top: 1.0rem;
  padding-bottom: 3.5rem;
}
.content {
  min-height: 80%;
  text-decoration: none;
  background: #ffffff;
  padding: 1rem 2rem 2rem 2rem;
}
.terms {
  margin: 10px 0 26px 0;
  height: 20px;
  color: #eeeeee;
  font-size: 0.75rem;
}
.terms a:link,
.terms a:visited {
  color: #c2c2c2;
}
.terms a:hover {
  color: #ffffff;
}
table.directive {
  width: 100%;
  background: #ffffff;
  margin: 1em 0em;
  border: 1px solid #c2c2c2;
  border-radius: 0.25em;
  color: rgba(0, 0, 0, 0.8);
  border-collapse: separate;
  border-spacing: 0px;
}
table.directive td {
  border-bottom: 1px solid #e0e0e0;
  padding: 0.7em 0.8em;
  vertical-align: middle;
}
a {
  color: #6080a0;
  text-decoration: none;
  transition: color 0.3s ease;
}
a:hover {
  color: #40a0f0;
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  font-weight: normal;
}
h3 + ul {
  margin-top: -0.85rem;
}
.centered {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.ui.code.inverted.code.segment {
  background: #002b36;
  color: #93a1a1;
}
.ui.code.inverted.code.segment b {
  color: #2aa198;
  font-weight: normal;
}
.ui.code.segment {
  background: #eeeeee;
  color: #333333;
  border: 1px solid #c2c2c2;
  box-shadow: 2px 2px 2px #e8e8e8;
}
img.screen {
  margin: 8px 0 4px 0;
  border: 1px solid #999999;
  border-radius: 7px;
  box-shadow: 9px 9px 9px #999999;
}
img.bare-screen {
  margin: 8px 0 10px 0;
  border: 1px solid #999999;
  border-radius: 7px;
  box-shadow: 9px 9px 9px #999999;
}
img.shadow {
  border-radius: 7px;
  box-shadow: 5px 5px 9px #999999;
}
/*
    theme.less - Default Embedthis Documentation Theme
 */
/*
    override.less - GoAhead Theme Overrides
 */
/* Green */
