<html>
<body>
<% 	
	if (request.method == "POST") {
        request.show("PARAMS", request.params)
        request.show("request.files", request.files)
        for each (f in request.files) {
            Path(f.filename).rename("web/tmp/" + f.clientFilename)
        }
        write("Uploaded")
    }
%>
</body>
</html>

