/*
    Documentation style sheet
 */

html {
	min-width: 700px;
	background-color: #20344D;
}

body {
	max-width: 1000px;
	margin: 0 auto;
	padding: 0;
	font-family: Trebuchet, Verdana, Arial, Helvetica, sans-serif; 
	font-size: small;
	background-image: url(images/shadow.jpg);
	background-position: left top;
	background-repeat: repeat-y;
}


div.top {
	height: 125px;
	width: 900px;
	margin-left: 40px;
	background-image: url("images/h2.jpg");
	background-position: top right;
	background-repeat: no-repeat;
}

div.bottom {
	background-image: url(images/bottomShadow.jpg);
	background-repeat: no-repeat;
	text-align: center;
}

a.logo {
	position: absolute;
	height: 50px;
	width: 200px;
	text-decoration: none;
}

div.topRight {
    position: relative;
    top: 4px;
    left: 680px;
    width: 210px;
    height: 62px;
	font-size: 90%;
	text-align: right;
	color: #000000; 
}

div.search {
	padding: 4px 0px 0px 0;
    width: 210px;
}

div.search input {
	text-align: right;
}

div.search p {
    margin: 0;
    padding: 0;
}

div.search label {
	vertical-align: middle;
	color: #FFFFFF;
	font-weight: normal;
}

div.search form {
	margin: 0;
	padding: 0;
}

div.search form #q, div.search form #q {
	background: #EEEEEE;
}

div.search form #q:hover, div.search form #q:focus {
	background: #FFFFFF;
}

div.version {
    padding: 10px 10px 0 0;
	color: #FFFFFF; 
}

div.crumbs { 
	position: relative;
    left: 10px;
	margin: 10px 0 0 20px;
	color: #DDDDFF; 
	text-decoration: none;
}

div.crumbs a:link, div.crumbs a:visited { 
	color: #DDDDFF; 
	text-decoration: none;
}

div.crumbs a:hover { 
	text-decoration: underline; 
	color: #FFFFFF;
}

div.crumbs b { 
	color: #FFFFFF;
}

div.content {
	width: 850px;
	min-height: 400px;
	margin: -30px 0 0 40px;
	padding: 0 10px 40px 40px;
	color: #000000;
	background-color: #FFFFFF;
	text-decoration: none;
}

div.content a {
	color: #284898; 
	text-decoration: none; 
}

div.content a:hover { 
	color: #CC4477; 
	text-decoration: underline; 
}

div.content ul li {
	font-size: 100%;
	line-height: 140%; 
	margin: 0;
	padding: 4px 0 0 0;
}

div.content ol li {
	font-size: 100%;
	line-height: 140%; 
	margin: 0;
	padding: 4px 0 0 0;
}

div.content ul.nav li {
	font-size: 100%;
	line-height: 180%; 
	margin: 0;
    padding: 0;
}

div.contentRight a {
    text-decoration: none
}


/*
    Home page
 */
div.homeLeft {
	width: 31%;
	float: left;
	padding-right: 10px;
}

div.contentHome h1 {
    margin: 0px;
    padding-top: 12px;
	font-size: 130%;
	font-weight: bold;
}

div.homeMiddle {
	min-height: 300px;
	float: left;
    width: 32%;
}

div.homeRight { 
	width: 31%;
	float: left;
	margin: 0 0 0 10px;
	padding: 0 10px 0 20px;
	text-decoration: none;
	min-height: 300px;
	min-width: 150px;
    background-color: #FFFFFF;
}

footer {
    clear: both;
}

div.contentLeft {
	width: 75%;
	margin: 0;
	padding: 8px 10px 0 0;
	text-decoration: none;
	min-height: 470px;
	background-color: #FFFFFF;
}

div.contentRight { 
	width: 20%;
	float: right;
	margin: 0 0 0 10px;
	padding: 0 10px 100px 20px;
	text-decoration: none;
	min-width: 150px;
    background-color: #FFFFFF;
	font-size: 100%;
	line-height: 145%;
	text-decoration: none;
}

div.contentRight ul {
    padding: 0;
    margin: 0;
	list-style-type: none;
}

div.contentRight h2 {
	font-size: 120%;
	position: relative; 
	left: -11px;
	margin: 20px 0 4px 0px;
	padding: 2px 4px 3px 10px;
	color: #284898; 
	background-color: #f2f2f2;
}

p { 
	line-height: 130%; 
	margin-bottom: 5px;
}

b {
    font-weight: bold;
    color: #222;
}

h1, h2 {
	padding: 12px 0 4px 0;
	margin: 0;
	color: #284898; 
	font-size: 130%;
}

h1.title {
	padding: 20px 0 10px 0;
	margin: 0;
	color: #284898; 
	font-size: 160%;
	font-weight: bold;
}

h2.section {
	border-bottom: 2px solid #AAAAAA;
    border-color: #DDDDFF;
	padding: 14px 0 2px 0;
    margin-bottom: 4px;
}

h3 {
    padding: 10px 0 4px 0;
    margin: 0px;
    color: #284898; 
    font-size: 100%;
    font-weight: bold;
}

h4 {
    font-size: 90%;
    font-style: italic;
    color: #000000; 
}

hr {
	margin: 0 0 0 0;
	border-style: none;
	border: 0;
	height: 0px;
	width: 0px;
}

ul { 
	font-size: 100%;
    margin-top: 2px;
    margin-bottom: 6px;
}

ul.bare {
	list-style: none;
	padding: 0;
	margin: 0;
}

ol { 
	font-size: 100%;
    margin-top: 2px;
    margin-bottom: 6px;
}

code {
    white-space: pre;
    display: block;
	font-size: 100%;
    __width: 600px;
	line-height: 140%; 
	font-family: Consolas, Monaco, Courier, Courier New, Courier, monospace; 
	padding: 10px 15px 10px 15px;
	margin: 16px 0 20px 0;
	background-color: #20344D;
	color: #FFFFFF;
	-moz-border-radius: 7px;
	-moz-box-shadow: 5px 5px 9px #888;
	-webkit-border-radius: 7px;
	-webkit-box-shadow: 5px 5px 9px #888;
}

pre {
    white-space: pre;
    display: block;
	font-size: 100%;
    width: 600px;
	line-height: 140%; 
	font-family: Consolas, Monaco, Courier, Courier New, Courier, monospace; 
	padding: 10px 15px 10px 15px;
	margin: 16px 0 20px 0;
	background-color: #20344D;
	color: #FFFFFF;
	-moz-border-radius: 7px;
	-moz-box-shadow: 5px 5px 9px #888;
	-webkit-border-radius: 7px;
	-webkit-box-shadow: 5px 5px 9px #888;
}

pre.dir { 
    width: 450px;
}

pre.light, code.light { 
	font-size: 110%;
	line-height: 140%; 
	font-family: Consolas, Monaco, Courier, Courier New, Courier, monospace; 
	padding: 10px 15px 10px 15px;
	margin: 16px 0 20px 0;
	background-color: #F4F4F4;
	border: 1px solid #CCCCF0;
	color: #112233;
	-moz-border-radius: 7px;
	-moz-box-shadow: 5px 5px 9px #888;
	-webkit-border-radius: 7px;
	-webkit-box-shadow: 5px 5px 9px #888;
}

pre a {
	color: #FFFFFF;
}

pre a:link, pre a:visited, pre a:hover {
	color: #FFFFFF;
}

pre.paper {
	font-size: 110%;
	line-height: 120%; 
	font-family: Consolas, Monaco, Courier, Courier New, Courier, monospace; 
	padding: 10px 15px 10px 20px;
	margin: 0 0 0 0;
	background-color: #FFFFFF;
	color: #102070; 
	-moz-border-radius: 0px;
	-moz-box-shadow: 0px 0px 0px #FFF;
	-webkit-border-radius: 0px;
	-webkit-box-shadow: 0px 0px 0px #FFF;
}

pre b, code b {
    color: #FFFF00;
    font-weight: normal;
}

table {
	margin: 10px 0 20px 0;
	font-size: 100%;
	border: 1px solid #AAAAAA;
	border-collapse: collapse;
	-moz-box-shadow: 2px 2px 4px #BBB;
	-webkit-box-shadow: 2px 2px 4px #BBB;
}

table.form {
    margin-top: 20px;
    padding: 0px;
	border: 0px solid #DDDDDD;
	border-collapse: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
    width: 100%;
	font-size: 100%;
}

thead {
	background-color: #7090C0;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 110%;
}

thead b {
	color: #FFFFFF;
}

th {
    padding: 4px 8px 4px 4px;
	text-align: left;
}

td {
	border: 1px solid #AAAAAA;
	padding: 4px;
}

table.form td {
	border: 0;
}

p.finePrint { 
	font-size: 80%;
	color: #313131; 
}

a:link { 
	color: #284898; 
	text-decoration: none; 
}

a:visited { 
	color: #000000;
	text-decoration: none; 
}

a:hover { 
	color: #CC4477; 
}

a.logo {
    text-decoration: none;
}

ul.questions {
	color: #31699C; 
	margin: 10px 0px 0px 8px;
}

div.questions p a:link, div.questions p a:visited {
	color: #31699C; 
	text-decoration: none; 
    margin: 0px;
    padding: 0px;
}

div.questions p a:hover {
	color: #993366; 
	text-decoration: underline; 
}

p.question {
	margin: 15px 0px 0px 0px;
	color: #1122AA; 
	font-weight: bold;
}

div.answer, p.answer {
	margin: 4px 0px 20px 25px;
}

p.footnote {
	height: 50px;
	margin: 0;
	padding: 30px 0 0 0;
	font-size: 85%;
	color: #AAAAAA; 
	line-height: 70%; 
}

p.footnote a:link, p.footnote a:visited { 
	color: #AAAAAA; 
	text-decoration: none;
}

p.footnote a:hover { 
	color: #FFFFFF; 
}

img.bare-screen {
    margin: 8px 0 4px 0;
	border: 1px solid #AAA;
	-moz-border-radius: 7px;
	-moz-box-shadow: 9px 9px 9px #AAA;
	-webkit-border-radius: 7px;
	-webkit-box-shadow: 9px 9px 9px #AAA;
}

/*
    Mac screen captures. Need to shift left because of drop shadow.
 */
img.screen {
    width: 710px;
    margin: -5px 0 -35px -37px;
    padding: 0;
    overflow: hidden;
}

td.pivot {
	background-color: #7090C0;
	color: #FFFFFF;
	__font-weight: bold;
	font-size: 100%;
    width: 17%;
}

td.security {
	background-color: #FF0000;
	font-weight: bold;
	color: #FFFFFF;
}

.warn {
	font-weight: bold;
	color: #FF0000;
}

table.directive td {
    padding: 6px 10px 6px 10px;
}

table.directive p {
    margin: 8px 0px 12px 0px;
}

img.wrapLeft {
	float: left;
	margin: 0px 18px 12px 0px;
}

img.wrapRight {
	float: right;
	margin: 0px 0px 3px 10px;
}

div.note { 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 110%;
	padding: 10px 15px 10px 15px;
	margin: 20px 0 20px 0;
	background-color: #FFDDDD;
	color: #102070; 
	-moz-border-radius: 7px;
	-moz-box-shadow: 5px 5px 9px #888;
	-webkit-border-radius: 7px;
	-webkit-box-shadow: 5px 5px 9px #888;
}

tt,em,i {
    font-weight: bold;
    font-style: normal;
    font-size: 110%;
    color: #AA0000;
	font-family: Consolas, Monaco, Courier, Monaco, Courier, Courier New, Courier, monospace; 
}

.shadow {
    margin: 8px 0 4px 0;
	border: 1px solid #AAA;
	-moz-box-shadow: 9px 9px 9px #CCC;
	-webkit-box-shadow: 9px 9px 9px #CCC;
}

#latestVersion {
    maring: 0;
    border: none;
    padding: 0;
    width: 80px;
    height: 16px;
    vertical-align: text-bottom;
    display: inline;
}

.nowrap {
    white-space: nowrap;
}

.full {
    width: 75%;
}

/*
    Google search box
 */
.gsc-search-box {
    border: none;
	-webkit-box-shadow: none;
}

td.gsc-input, .gsc-search-button {
    border: none;
}

.gsc-clear-button {
    border: none;
    display: none;
}

.cse-search-form {
    width: auto;
}

input.gsc-input {
    border-color: #BCCDF0;
}

input.gsc-search-button {
    border-color: #666666;
    background-color: #CECECE;
}

/*
    Google results page
 */
.gsc-resultsRoot {
	border-top: 1px solid #ddd;
}

.gsc-wrapper td {
    border: none;
}

.gsc-webResult .gsc-result {
    border: none;
    border-bottom: 0px;
    border-image: none;
}

.gsc-resultsHeader {
    border: none;
}

.gsc-result-info {
    display: none;
}

div#cse .gsc-search-box {
    display: none;
    border: none;
}

.gsc-resultsHeader {
    border: none;
	xborder-bottom: 10px solid #DDDDDD;
    margin: 0px 0 40px 0;
}

.gsc-table-result {
    border: none;
}

.gsc-control-cse {
    font-family: Arial, sans-serif;
    border-color: #336699;
    background-color: #FFFFFF;
    border: none;
}

/* MOB */
.gsc-control-wrapper-cse {
    padding-left: 30px;
    width: 800px;
}
.gsc-control-cse, .gsc-control-cse .gsc-table-result {
    padding: 0;
    margin: 0;
}

input.gsc-input {
    border-color: #BCCDF0;
}

input.gsc-search-button {
    border-color: #666666;
    background-color: #CECECE;
}

.gsc-tabHeader.gsc-tabhInactive {
    border-color: #E9E9E9;
    background-color: #E9E9E9;
}

.gsc-tabHeader.gsc-tabhActive {
    border-top-color: #FF9900;
    border-left-color: #E9E9E9;
    border-right-color: #E9E9E9;
    background-color: #FFFFFF;
}

.gsc-tabsArea {
    border-color: #E9E9E9;
}

.gsc-webResult.gsc-result,
  .gsc-results .gsc-imageResult {
    border-color: #FFFFFF;
    background-color: #FFFFFF;
}

.gsc-webResult.gsc-result:hover,
  .gsc-imageResult:hover {
    border-color: #FFFFFF;
    background-color: #FFFFFF;
}

.gs-webResult.gs-result a.gs-title:link,
  .gs-webResult.gs-result a.gs-title:link b,
  .gs-imageResult a.gs-title:link,
  .gs-imageResult a.gs-title:link b {
    color: #0000FF;
}

.gs-webResult.gs-result a.gs-title:visited,
  .gs-webResult.gs-result a.gs-title:visited b,
  .gs-imageResult a.gs-title:visited,
  .gs-imageResult a.gs-title:visited b {
    color: #663399;
}

.gs-webResult.gs-result a.gs-title:hover,
  .gs-webResult.gs-result a.gs-title:hover b,
  .gs-imageResult a.gs-title:hover,
  .gs-imageResult a.gs-title:hover b {
    color: #0000CC;
}

.gs-webResult.gs-result a.gs-title:active,
  .gs-webResult.gs-result a.gs-title:active b,
  .gs-imageResult a.gs-title:active,
  .gs-imageResult a.gs-title:active b {
    color: #0000CC;
}

.gsc-cursor-page {
    color: #0000FF;
}

a.gsc-trailing-more-results:link {
    color: #0000FF;
}

.gs-webResult .gs-snippet,
  .gs-imageResult .gs-snippet,
  .gs-fileFormatType {
    color: #000000;
}

.gs-webResult div.gs-visibleUrl,
  .gs-imageResult div.gs-visibleUrl {
    color: #008000;
}

.gs-webResult div.gs-visibleUrl-short {
    color: #008000;
}

.gs-webResult div.gs-visibleUrl-short {
    display: none;
}

.gs-webResult div.gs-visibleUrl-long {
    display: block;
}

.gsc-cursor-box {
    border-color: #FFFFFF;
}

.gsc-results .gsc-cursor-box .gsc-cursor-page {
    border-color: #E9E9E9;
    background-color: #FFFFFF;
    color: #0000FF;
}

.gsc-results .gsc-cursor-box .gsc-cursor-current-page {
    border-color: #FF9900;
    background-color: #FFFFFF;
    color: #663399;
}

.gs-promotion {
    border-color: #336699;
    background-color: #FFFFFF;
}

.gs-promotion a.gs-title:link,
  .gs-promotion a.gs-title:link *,
  .gs-promotion .gs-snippet a:link {
    color: #0000CC;
}

.gs-promotion a.gs-title:visited,
  .gs-promotion a.gs-title:visited *,
  .gs-promotion .gs-snippet a:visited {
    color: #0000CC;
}

.gs-promotion a.gs-title:hover,
  .gs-promotion a.gs-title:hover *,
  .gs-promotion .gs-snippet a:hover {
    color: #0000CC;
}

.gs-promotion a.gs-title:active,
  .gs-promotion a.gs-title:active *,
  .gs-promotion .gs-snippet a:active {
    color: #0000CC;
}

.gs-promotion .gs-snippet,
  .gs-promotion .gs-title .gs-promotion-title-right,
  .gs-promotion .gs-title .gs-promotion-title-right *  {
    color: #000000;
}

.gs-promotion .gs-visibleUrl,
  .gs-promotion .gs-visibleUrl-short {
    color: #008000;
}
