<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>All.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Prep.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>cgitest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>goahead-test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>goahead.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>libgo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>webcomp 2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>webcomp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9FC45C179FC48C4D00000006</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9FC45C179FC48C4D0000000A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9FC45C179FC48C4D0000000B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9FC45C179FC48C4D0000000C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9FC45C179FC48C4D0000000D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9FC45C179FC48C4D00000037</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9FC45C179FC48C4D00000039</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9FC45C179FC48C4D0000003B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9FC45C179FC48C4D0000003D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9FC45C179FC48C4D0000003F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9FC45C179FC48C4D00000041</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9FC45C179FC48C4D00000042</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9FC45C179FC48C4D00000043</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9FC45C179FC48C4D00000045</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9FC45C179FC48C4D00000047</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9FC45C179FC48C4D00000049</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9FC45C179FC48C4D0000004A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9FC45C179FC48C4D0000004C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9FC45C179FC48C4D0000004E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9FC45C179FC48C4D00000050</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
