/*
    all.less - Aggregate all stylesheets
 */

/*
    app.less
 */

html,
body {
  height: 100%;
  font-size: 14px;
}

body {
  min-width: 320px;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  text-rendering: optimizeLegibility;
  background-image: -webkit-linear-gradient(45deg, #081850 50px, #40a040 70%);
  background-image: linear-gradient(45deg, #081850 50px, #40a040 70%);
  -webkit-transition: none !important;
          transition: none !important;
}

.ui.sidebar {
  width: 240px !important;
  -webkit-transition: none !important;
          transition: none !important;
}

.ui.masthead {
  height: 70px;
}

.ui.masthead .header.item.left {
  margin-left: 0;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 1.5rem;
}

.ui.masthead .ui.top.right a.item {
  padding: 1.0 0.4em;
  color: #ffffff;
  opacity: 0.75;
}

.ui.masthead .ui.breadcrumb {
  margin: -5px 0 0 85px;
}

.ui.masthead .ui.breadcrumb .section {
  padding-bottom: .5rem;
}

.ui.masthead .ui.breadcrumb .active.section {
  font-weight: normal;
  color: rgba(256, 256, 256, 0.8);
}

.ui.masthead .ui.breadcrumb .divider {
  color: #ffffff;
}

.ui.masthead .ui.breadcrumb a {
  color: rgba(256, 256, 256, 0.5);
}

.ui.masthead .ui.breadcrumb a:hover,
.ui.masthead .ui.breadcrumb a:hover.active.section {
  color: #ffffff;
}

.ui.masthead .ui.launch.button {
  margin-top: -15px;
}

.page {
  padding: 1rem 3.0rem;
}

.ui.page.grid {
  padding: 0 3.0rem;
}

.ui.page.grid .segment {
  padding-top: 1.0rem;
  padding-bottom: 3.5rem;
}

.content {
  min-height: 400px;
  padding: 1rem 2rem 2rem 2rem;
  text-decoration: none;
  background: #ffffff;
}

#terms {
  height: 20px;
  margin: 10px 0 26px 0;
  font-size: 0.75rem;
  color: #999999;
}

#terms a:link,
#terms a:visited {
  color: #c2c2c2;
}

#terms a:hover {
  color: #ffffff;
}

a {
  color: #6080a0;
  text-decoration: none;
  -webkit-transition: color 0.3s ease;
          transition: color 0.3s ease;
}

a:hover {
  color: #40a0f0;
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  font-weight: normal;
}

h3 + ul {
  margin-top: -0.85rem;
}

.centered {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.ui.code.inverted.code.segment {
  color: #93a1a1;
  background: #002b36;
}

.ui.code.inverted.code.segment b {
  font-weight: normal;
  color: #2aa198;
}

.ui.code.segment {
  color: #333;
  background: #EFEFEF;
  border: 1px solid #C8C8C8;
  box-shadow: 2px 2px 2px #DDD;
}

.ui.code.segment b {
  font-weight: normal;
  color: #168;
}

img.screen {
  margin: 8px 0 4px 0;
  border: 1px solid #AAA;
  border-radius: 7px;
  box-shadow: 9px 9px 9px #AAA;
}

img.bare-screen {
  width: 100%;
  margin: 8px 0 10px 0;
  border: 1px solid #AAA;
  border-radius: 7px;
  box-shadow: 9px 9px 9px #AAA;
}

img.shadow {
  border-radius: 7px;
  box-shadow: 5px 5px 9px #888;
}

.ui.secondary.pointing.menu,
.ui.secondary.inverted.pointing.menu {
  margin: 0;
  border-bottom: none;
}

.ui.pointing.menu .ui.top.right .active.item:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  margin: 0;
  background: #dd2222;
  background-image: none;
  border: none;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
}

/*
    GoAhead documentation default theme
 */
.ui.inverted.menu {
  background: rgba(51, 51, 51, 0.3);
}
