/*
    MOB all.less - Aggregate all stylesheets
 */

/*
    app.less 
 */

html,
body {
  height: 100%;
  font-size: 14px;
}

body {
  min-width: 320px;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  color: #555;
  text-rendering: optimizeLegibility;
  background-image: -webkit-linear-gradient(45deg, #0a1855 0px, #da0024 100%);
  background-image: linear-gradient(45deg, #0a1855 0px, #da0024 100%);
  -webkit-transition: none !important;
          transition: none !important;
}

.ui.sidebar {
  width: 240px !important;
  -webkit-transition: none !important;
          transition: none !important;
}

.ui.masthead {
  height: 70px;
}

.ui.masthead .ui.top.right a.item {
  padding: 1.0 0.4em;
  color: #FFF;
  opacity: 0.75;
}

.ui.masthead .ui.breadcrumb {
  margin: 0 0 0 85px;
}

.ui.masthead .ui.breadcrumb .section {
  padding-bottom: .5rem;
}

.ui.masthead .ui.breadcrumb .active.section {
  font-weight: normal;
  color: rgba(256, 256, 256, 0.8);
}

.ui.masthead .ui.breadcrumb .divider {
  color: #ffffff;
}

.ui.masthead .ui.breadcrumb a {
  color: rgba(256, 256, 256, 0.5);
}

.ui.masthead .ui.breadcrumb a:hover,
.ui.masthead .ui.breadcrumb a:hover.active.section {
  color: #ffffff;
}

.ui.masthead .ui.launch.button {
  margin-top: -15px;
}

.page {
  padding: 1rem 3.0rem;
}

.ui.page.grid {
  padding: 0 3.0rem;
}

.ui.page.grid .segment {
  padding-top: 1.0rem;
  padding-bottom: 3.5rem;
}

.content {
  min-height: 400px;
  padding: 1rem 2rem;
  text-decoration: none;
  background: #FFF;
}

#terms {
  height: 20px;
  margin: 10px 0 26px 0;
  font-size: 75%;
  color: #999;
}

#terms a:link,
#terms a:visited {
  color: #CCC;
}

#terms a:hover {
  color: #FFF;
}

.splash {
  text-align: center;
}

.splash h1 {
  margin-bottom: 1.0rem;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 48pt !important;
  font-weight: bold !important;
  color: #333;
  text-shadow: 4px 4px 4px #CCC;
}

.splash h2 {
  padding: 0;
  margin: 0;
  font-size: 2rem !important;
  font-weight: normal !important;
  color: #888888;
}

.splash img {
  width: 100%;
  padding: 0;
  margin: 0;
}

.product-list h2 {
  margin: 0;
}

.product-list .ui.segment {
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  margin: 0;
}

.product-list .ui.segment .ui.floated.image {
  margin-bottom: 0;
}

.ui.banded.grid {
  display: table;
  width: 100%;
  margin: 0;
}

.ui.banded.grid .band {
  padding: 2rem 3rem 1rem 3rem;
  margin: 0;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}

.ui.banded.grid .band .basic.row,
.ui.banded.grid .band .basic.column {
  padding: 0;
  margin: 0;
}

.ui.banded.grid .column {
  padding-bottom: 2em;
}

.ui.banded.grid .column .flush {
  width: 100%;
}

.ui.banded.grid .column > h2,
.ui.banded.grid .column > h3 {
  margin-top: 2rem;
}

.ui.banded.grid .white.band {
  background: #FFF;
}

.ui.banded.grid .light.band {
  background: #EEE;
}

.ui.banded.grid .dark.band {
  color: #DDD;
  background: #2f221f;
  x-background: #321;
}

.ui.banded.grid .teal.band {
  color: #FFF;
  background: #5e7c88;
}

.ui.banded.grid .teal.band a:not(.button) {
  color: #E0E0FF;
}

.ui.banded.grid .teal.band a:hover:not(.button) {
  color: #FFF;
}

.ui.banded.grid .kaki.band {
  background: #e4e3d5;
}

.appweb p {
  x-padding-right: 1.5em;
}

.appweb .intro {
  height: 400px;
}

.appweb .intro h1 {
  margin-bottom: 0;
  font-size: 4em;
  font-weight: bold;
}

.appweb .intro h2 {
  padding-bottom: 1em;
}

.appweb .intro p {
  padding-top: 1.5em;
}

.appweb .intro .pushup {
  margin-top: -100px;
}

.appweb .intro img {
  padding-top: 2em;
}

.appweb .doc {
  x-height: 400px;
}

.appweb .doc h1 {
  font-size: 3em;
  font-weight: bold;
}

.appweb .doc p {
  padding-top: 2.0;
}

.appweb .doc img {
  width: 90%;
}

.appweb .demo {
  x-height: 550px;
}

.appweb .demo h1 {
  margin-top: 0;
  font-size: 3em;
  font-weight: bold;
}

.appweb .demo h2 {
  padding-top: 2.5em;
}

.appweb .demo h3 {
  padding-top: 2em;
}

.appweb .demo p {
  padding-top: 1.0;
}

.appweb .licensing .icon {
  font-size: 10rem;
}

.appweb .users.band.row {
  padding-bottom: 3rem;
}

.appweb .links addr {
  font-size: 85%;
}

a:hover {
  color: #40A0F0;
  text-decoration: none;
}

h1,
h2 {
  font-weight: normal;
}

h3 + ul {
  margin-top: -0.85rem;
}

.question {
  font-weight: bold;
}

.centered {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.ui.code.inverted.code.segment {
  color: #93a1a1;
  background: #002b36;
}

.ui.code.inverted.code.segment b {
  font-weight: normal;
  color: #2aa198;
}

.ui.code.segment {
  color: #333;
  background: #EFEFEF;
  border: 1px solid #C8C8C8;
  -webkit-box-shadow: 2px 2px 2px #DDD;
     -moz-box-shadow: 2px 2px 2px #DDD;
  -box-shadow: 2px 2px 2px #DDD;
}

.ui.code.segment b {
  font-weight: normal;
  color: #168;
}

img.screen {
  margin: 8px 0 4px 0;
  border: 1px solid #AAA;
  -webkit-border-radius: 7px;
     -moz-border-radius: 7px;
  -webkit-box-shadow: 9px 9px 9px #AAA;
     -moz-box-shadow: 9px 9px 9px #AAA;
}

img.bare-screen {
  margin: 8px 0 10px 0;
  border: 1px solid #AAA;
  -webkit-border-radius: 7px;
     -moz-border-radius: 7px;
  -webkit-box-shadow: 9px 9px 9px #AAA;
     -moz-box-shadow: 9px 9px 9px #AAA;
  x-width: 615px;
}

img.shadow {
  -webkit-border-radius: 7px;
     -moz-border-radius: 7px;
  -webkit-box-shadow: 5px 5px 9px #888;
     -moz-box-shadow: 5px 5px 9px #888;
}

table.download {
  margin-bottom: 20px;
  border: 1px solid #A0A0A0;
  border-collapse: collapse;
  border-spacing: 0;
}

table.download thead {
  font-size: 110%;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #7090C0;
}

table.download td {
  padding: 4px 8px 4px 8px;
  border: 1px solid #AAA;
}

a {
  color: #6080A0;
  text-decoration: none;
  -webkit-transition: color 0.3s ease;
          transition: color 0.3s ease;
}

.ui.secondary.pointing.menu,
.ui.secondary.inverted.pointing.menu {
  margin: 0;
  border-bottom: none;
}

.ui.pointing.menu .ui.top.right .active.item:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  margin: 0;
  background: #DD2222;
  background-image: none;
  border: none;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
}

/*
    Stub
 */

/*
    Create a local.less and override anything above.
    @import "local.less";
 */
